<div style="display: flex;">
    <div style="display: inline-block;width: 20%;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2 text-white" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a routerLink="dashboard" routerLinkActive="active" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a routerLink="createEmp" routerLinkActive="active" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#table"></use>
                        </svg>
                        Create Employee
                    </a>
                </li>
                <li>
                    <a routerLink="emplist" routerLinkActive="active" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#table"></use>
                        </svg>
                        Employee List
                    </a>
                </li>
                <li>
                    <a routerLink="empDetails" routerLinkActive="active" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#table"></use>
                        </svg>
                        Employee Details
                    </a>
                </li>
                <li>
                    <a routerLink="updateEmp" routerLinkActive="active" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#table"></use>
                        </svg>
                        Update Employee
                    </a>
                </li>
                <li>
                    <a (click)="logout()" class="nav-link text-white" style="cursor: pointer;">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#door-closed"></use>
                        </svg>
                        Logout
                    </a>
                </li>
            </ul>
            <hr>
        </div>
    </div>

    <div style="display: inline-block;width: 80%;">
        <router-outlet />
    </div>
</div>